/* App-wide styles */
body {
  background-color: #f0f8ff;
  /* Light blue background */
}

.search-bar {
  margin-bottom: 20px;
  transition: transform 0.3s ease-in-out;
}

.search-bar:hover {
  transform: scale(1.05);
  /* Scale up slightly on hover */
}

/* Card animation */
.card {
  transition: transform 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.02);
}

/* Button animation */
.btn {
  transition: background-color 0.3s ease-in-out;
}

.btn:hover {
  background-color: #007bff;
  /* Light blue on hover */
  color: white;
}


/* styles.css */
.navbar {
  background-color: white;
}

.navbar-brand,
.nav-link {
  color: grey;
  transition: color 0.2s ease-in-out;
}

.nav-link:hover,
.navbar-brand:hover {
  color: black;
}

.pop-out-animation {
  transition: transform 0.2s ease-in-out;
}

.pop-out-animation:hover {
  transform: scale(1.1);
}